{
    "facility":  ["iad1", "atl1", "ewr1", "sjc1", "any" ],
    "plan": "t1.small.x86",
    "hostname": "{{ inventory_hostname }}",
    "description": "tower infra",
    "billing_cycle": "hourly",
    "operating_system": "{{ operating_system }}",
    "locked": "false"
}
